.card {
  border: none;
  .card-img-top {
    height: 30vw;
    object-fit: contain;
  }

  .card-text{
    text-align: justify;
  }
  .category {
    .badge {
      font-size: .90em;
    }
  }
}

.btn-link{
  text-decoration: none;
  font-size: 1.5rem;
}
